<template>
  <button
    :type="type"
    class="border p-2 rounded shadow hover:shadow-inner transition"
    :class="themeCss"
    :form="formId"
  >
    <slot></slot>
  </button>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  name: "ButtonComponent",
  props: {
    type: {
      type: String,
      default: "submit"
    },
    theme: {
      type: String,
      default: "primary"
    },
    formId: {
      type: String,
      default: null
    }
  },

  computed: {
    themeCss() {
      switch (this.theme) {
        case "primary":
          return "bg-primary text-dark hover:bg-dark hover:text-primary active:border-primary";
        case "secondary":
          return "bg-secondary text-dark hover:bg-dark hover:text-secondary active:border-secondary";
        default:
          return "";
      }
    }
  }
});
</script>

<style></style>
