<template>
  <figure
    class="h-20 w-20 m-2 border rounded-xl shadow flex flex-col items-center relative"
  >
    <!-- delete button -->
    <button-component
      type="button"
      theme="secondary"
      class="absolute -top-2 -right-2 text-xl py-0 rounded-full"
      @click.native="$emit('delete', alt)"
    >
      &times;
    </button-component>
    <img class="h-3/4" :src="url" :alt="alt" :title="alt" />
    <figcaption
      class="text-sm w-full bg-primary text-white rounded-b-xl px-1 overflow-hidden whitespace-nowrap overflow-ellipsis"
    >
      {{ alt }}
    </figcaption>
  </figure>
</template>

<script>
import { storage } from "@/firebase/firebase";

import ButtonComponent from "./ButtonComponent.vue";

export default {
  name: "DocPreview",
  components: {
    ButtonComponent
  },
  props: {
    src: String,
    alt: {
      type: String,
      default: "document"
    },
    local: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return { url: null };
  },

  mounted() {
    if (this.local) {
      this.url = this.src;
    } else {
      // fetch from firebase storage
      storage
        .ref(this.src)
        .getDownloadURL()
        .then(url => {
          this.url = url;
          console.log("preview " + url);
        });
    }
  }
};
</script>
