<template>
  <span class="focus-within:text-primary flex mb-2" :class="direction">
    <label :for="name"><slot></slot></label>
    <!-- textarea -->
    <textarea
      v-if="type === 'textarea'"
      :class="baseClass"
      :name="name"
      :id="name"
      :required="required"
      :disabled="disabled"
      :value="value"
      :placeholder="placeholder || name"
      :aria-label="ariaLabel || name"
    />
    <!-- select -->
    <select
      v-else-if="type === 'select'"
      :class="baseClass"
      :name="name"
      :id="name"
      :required="required"
      :disabled="disabled"
      :value="value"
      :multiple="multiple"
    >
      <option
        v-for="option in options"
        :key="option"
        :value="option"
        :name="option"
        :id="option"
      >
        {{ option }}
      </option>
    </select>
    <!-- autres inputs -->
    <input
      v-else
      :type="type"
      :class="[
        baseClass,
        ' whitespace-nowrap overflow-hidden overflow-ellipsis'
      ]"
      :name="name"
      :id="name"
      :required="required"
      :disabled="disabled"
      :value="value"
      :accept="accept"
      :multiple="multiple"
      :placeholder="placeholder || name"
      :aria-label="ariaLabel || name"
      @input="$emit('input', $event.target.value)"
    />
  </span>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  name: "InputComponent",
  props: {
    name: {
      type: String, // type attendu du prop
      required: true // prop obligatoire
    },
    type: {
      type: String,
      default: "text"
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    inline: {
      // comment est positionné le label
      type: Boolean,
      default: false
    },
    value: {
      // = valeur de départ
      type: String,
      default: ""
    },
    options: {
      // uniquement pour le type "select"
      type: Array,
      default: () => []
    },
    accept: {
      // uniquement pour le type="file"
      type: String,
      default: null
    },
    multiple: {
      // uniquement pour les type="file" ou "select"
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: null
    },
    ariaLabel: {
      type: String,
      default: null
    }
  },

  computed: {
    direction() {
      return this.inline
        ? " items-center justify-center"
        : " flex-col items-stretch";
    },
    baseClass() {
      return (
        "rounded border pl-2 focus:border-primary" +
        (this.inline ? " ml-2" : "")
      );
    }
  }
});
</script>

<style></style>
