<template>
  <div
    class="fixed inset-0 bg-dark bg-opacity-75 flex flex-col justify-center items-center"
    @click.self="closeSelf"
  >
    <div
      class="w-3/4 min-h-half rounded bg-light relative flex flex-col justify-around items-center"
    >
      <!-- close button -->
      <button-component
        theme="secondary"
        class="absolute top-2 right-2 text-3xl py-0 rounded-full"
        @click.native="closeSelf"
      >
        &times;
      </button-component>
      <!-- header -->
      <div class="font-bold text-lg my-5"><slot name="header"></slot></div>
      <!-- content -->
      <div class="flex items-center justify-center w-full">
        <slot name="content"></slot>
      </div>
      <!-- footer -->
      <div class="my-5"><slot name="footer"></slot></div>
    </div>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent.vue";

export default {
  name: "ModalTicket",
  components: {
    ButtonComponent
  },

  methods: {
    closeSelf() {
      this.$emit("closeModal");
    }
  }
};
</script>

<style></style>
