<template>
  <div>
    <!-- message d'erreur -->
    <p class="bg-red-500 text-dark p-2 m-2 rounded" v-if="error">
      {{ errorMessage }}
    </p>
    <!-- ticket -->
    <article
      v-else
      class="cursor-pointer w-3/4 rounded bg-light shadow border-2 m-2 p-2 flex justify-between items-center"
      :class="['border-' + ticket.category, overDueDate]"
      @click="toggleModal"
    >
      <span class="rounded-full p-1" :class="'bg-' + ticket.status">
        {{ ticket.status | fromCamelCase }}
      </span>
      <span class="font-bold">{{ ticket.name }}</span>
      <span
        class="w-3/4 h-6 whitespace-nowrap overflow-hidden overflow-ellipsis"
      >
        <slot>{{ ticket.desc }}</slot>
      </span>
      <span class="flex flex-col justify-between items-end -m-2 -mt-3">
        <span class="text-sm" :class="'text-' + ticket.category">
          {{ ticket.category | fromCamelCase }}
        </span>
        <ul class="list-none flex pt-5 pb-1">
          <li
            v-for="member in ticket.assignedTo"
            :key="member"
            class="rounded-full bg-dark text-white w-6 h-6 mr-1"
          >
            {{ member | initial }}
          </li>
        </ul>
      </span>
    </article>
    <!-- modal détail -->
    <modal-component v-if="modalOpen" @closeModal="toggleModal">
      <template v-slot:header>
        Ticket #{{ ticket.id }} : {{ ticket.name }}
      </template>
      <template v-slot:content>
        <form
          id="ticket-detail"
          class="h-3/4 w-full px-3 flex flex-col flex-wrap justify-around items-center"
          @submit.prevent="submitHandler"
        >
          <input-component
            :name="ticket.id + '-project'"
            :disabled="true"
            :value="ticket.project"
            :inline="true"
          >
            Projet :
          </input-component>
          <input-component
            :name="ticket.id + '-createdBy'"
            :disabled="true"
            :value="ticket.createdBy"
            :inline="true"
          >
            Source du ticket :
          </input-component>
          <input-component
            :name="ticket.id + '-desc'"
            type="textarea"
            :value="ticket.desc"
            :inline="true"
          >
            Description :
          </input-component>
          <input-component
            :name="ticket.id + '-status'"
            type="select"
            :value="ticket.status | fromCamelCase"
            :required="true"
            :options="statusList"
            :inline="true"
          >
            Statut :
          </input-component>
          <input-component
            :name="ticket.id + '-category'"
            type="select"
            :value="ticket.category | fromCamelCase"
            :options="categoryList"
            :inline="true"
          >
            Catégorie :
          </input-component>
          <div class="flex">
            Dates :
            <input-component
              :name="ticket.id + '-startDate'"
              class="ml-1"
              type="date"
              :required="true"
              :value="ticket.startDate.format('YYYY-MM-DD')"
              :inline="true"
            >
              du
            </input-component>
            <input-component
              :name="ticket.id + '-dueDate'"
              class="ml-1"
              type="date"
              :required="true"
              :value="ticket.dueDate.format('YYYY-MM-DD')"
              :inline="true"
            >
              au
            </input-component>
          </div>
          <div class="capitalize">
            Equipe : {{ ticket.assignedTo.join(", ") }}
            <button-component
              v-if="ticket.assignedTo.includes(user.displayName)"
              class="ml-3"
              theme="secondary"
              type="button"
              @click.native="removeFromTeam"
            >
              - Quitter
            </button-component>
            <button-component
              v-else
              class="ml-3"
              theme="secondary"
              type="button"
              @click.native="addToTeam"
            >
              + Rejoindre
            </button-component>
          </div>
          <input-component
            :name="ticket.id + '-docs'"
            type="file"
            :multiple="true"
            accept="image/*"
            @change.native="addDocHandler"
          >
            Ajouter une pièce jointe :
          </input-component>
          <div class="max-w-1/2 flex flex-wrap items-center justify-around">
            <doc-preview
              v-for="(doc, index) in ticket.docs"
              :key="index"
              :src="doc.url"
              :alt="doc.name"
              :local="doc.local"
              @delete="deleteDocHandler"
            />
          </div>
        </form>
      </template>
      <template v-slot:footer>
        <button-component formId="ticket-detail">
          Valider
        </button-component>
      </template>
    </modal-component>
  </div>
</template>

<script>
import Vue from "vue";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

import ModalComponent from "./ModalComponent.vue";
import DocPreview from "./DocPreview.vue";
import InputComponent from "./InputComponent.vue";
import ButtonComponent from "./ButtonComponent.vue";

import { auth, db, storage } from "@/firebase/firebase";
import { statusList, categoryList } from "@/utils/definitions";
import { toCamelCase } from "@/utils/string";

dayjs.extend(customParseFormat);

const defaultTicket = {
  name: "Ticket non trouvé",
  desc: "Ticket non trouvé",
  status: "bloque",
  startDate: new dayjs(0),
  dueDate: new dayjs(0),
  category: "redactionnel",
  docs: [], // élément = {"url", "name", "file"}
  // -- FOREIGN KEYS --
  createdBy: "Non trouvé",
  assignedTo: [], // élément = "displayName"
  project: "Non trouvé"
};

export default Vue.extend({
  name: "Ticket",

  components: {
    InputComponent,
    DocPreview,
    ModalComponent,
    ButtonComponent
  },

  props: {
    // -- ATTRIBUTS TICKET --
    id: {
      type: String,
      default: "VIY8C5GpazOJpvc4ORBA"
    }
  },

  data() {
    return {
      // gestion des erreurs
      error: false,
      errorMessage: null,
      // modal
      modalOpen: false,
      // données ticket
      statusList,
      categoryList,
      // récupère toutes les valeurs par défaut
      ticket: { ...defaultTicket },
      dbTicketRef: db.collection("tickets").doc(this.id),
      docsToDelete: [],
      InputData: {
        name: "",
        required: "",
        disabled: "",
        inline: "",
        placeholder: "",
        ariaLabel: ""
      }
    };
  },

  computed: {
    overDueDate() {
      if (this.ticket.dueDate.isBefore(new dayjs())) return "ring ring-red-500";
      else return null;
    },
    user: () => auth.currentUser
  },

  mounted() {
    this.dbTicketRef
      .get()
      .then(ticket => {
        if (ticket) {
          this.error = false;
          const data = ticket.data();
          const { startDate, dueDate } = data;
          this.ticket = {
            ...data,
            startDate: dayjs(startDate.seconds * 1000),
            dueDate: dayjs(dueDate.seconds * 1000)
          };
        } else {
          this.error = true;
          this.errorMessage = `Ticket ${this.id} non trouvé.`;
        }
      })
      .catch(error => {
        this.error = true;
        this.errorMessage = `Ticket ${this.id} non trouvé.`;
        console.log(error);
      });
  },

  methods: {
    // utilitaires
    toggleModal() {
      this.modalOpen = !this.modalOpen;
    },

    addToTeam() {
      this.ticket.assignedTo.push(this.user.displayName);
      this.$emit("addToTeam", this.user.displayName);
    },
    removeFromTeam() {
      const userIndex = this.ticket.assignedTo.indexOf(this.user.displayName);
      this.ticket.assignedTo.splice(userIndex, 1);
      this.$emit("removeFromTeam", this.user.displayName);
    },

    addDocHandler() {
      const fileInput = document.getElementById(this.ticket.id + "-docs");
      for (const file of fileInput.files) {
        this.ticket.docs.push({
          url: URL.createObjectURL(file),
          name: file.name,
          file: file, // pour l'upload éventuel
          local: true // pour l'affichage temporaire en front
        });
      }
      fileInput.value = null;
    },
    deleteDocHandler(name) {
      const docIndex = this.ticket.docs.findIndex(doc => doc.name === name);
      console.log("enlevé : ", this.ticket.docs, name, docIndex);
      const doc = this.ticket.docs.splice(docIndex, 1);
      if (!doc.local) this.docsToDelete.push(doc[0]);
    },

    /** Récupère les données du formulaire */
    submitHandler() {
      // -- VALIDATION DES DATES --
      const startDateInput = document.getElementById(
        this.ticket.id + "-startDate"
      );
      const dueDateInput = document.getElementById(this.ticket.id + "-dueDate");
      const startDate = dayjs(startDateInput.value, "YYYY-MM-DD");
      const dueDate = dayjs(dueDateInput.value, "YYYY-MM-DD");

      // reset
      startDateInput.classList.remove("border-red-500", "border-2");
      dueDateInput.classList.remove("border-red-500", "border-2");
      startDateInput.classList.add("border");
      dueDateInput.classList.add("border");
      if (startDate.isAfter(dueDate)) {
        startDateInput.classList.add("border-red-500", "border-2");
        dueDateInput.classList.add("border-red-500", "border-2");
        startDateInput.classList.remove("border");
        dueDateInput.classList.remove("border");
        return; // stop tout
      }

      // -- FERMETURE DU MODAL --
      this.toggleModal();
      // -- ATTRIBUTS TICKET --
      //this.ticket.id ne change pas
      // this.ticket.name ne change pas
      this.ticket.desc = document.getElementById(
        this.ticket.id + "-desc"
      ).value;
      this.ticket.status = toCamelCase(
        document.getElementById(this.ticket.id + "-status").value
      );
      this.ticket.startDate = startDate;
      this.ticket.dueDate = dueDate;
      this.ticket.category = toCamelCase(
        document.getElementById(this.ticket.id + "-category").value
      );
      // -- PIECES JOINTES --
      const ref = storage.ref();
      // suppression des éventuelles pièces jointes enlevées
      this.docsToDelete.forEach(doc => {
        console.log("suppr ", JSON.stringify(doc));
        const docRef = ref.child(doc.url);
        docRef.delete();
      });

      // sauvegarde des pièces jointes
      this.ticket.docs = this.ticket.docs.map(doc => {
        if (doc.local) {
          // récupération des pièces jointes ajoutées
          const path = "attached/" + this.ticket.id + "/" + doc.name;
          const docRef = ref.child(path);
          docRef.put(doc.file).then(() => console.log("upload " + doc.name));
          return { url: path, name: doc.name };
        } else {
          // pièces jointes inchangées
          return doc;
        }
      });
      // -- FOREIGN KEYS --
      // this.ticket.createdBy ne change pas
      // this.ticket.assignedTo déjà mis à jour par le bouton Rejoindre/Quitter
      // this.ticket.project ne change pas

      // -- LIEN AVEC LE BACK --
      this.dbTicketRef.set({
        ...this.ticket,
        startDate: startDate.toDate(), // conversion vers un type accepté
        dueDate: dueDate.toDate()
      });
      console.log("enregistré ", this.ticket);
    }
  }
});
</script>

<style></style>
