<template>
  <div class="app">
    <header class="bg-black text-white text-center">
      <img src="./assets/images/logo_64.png" alt="logo" />

      <h1>Traque-Insecte</h1>

      <nav id="nav">
        <!-- if user.connected -->
        <a v-if="currentUser" @click="deconnexion">Déconnexion</a>
      </nav>
    </header>

    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import Vue from "vue";
import { auth } from "@/firebase/firebase";

export default Vue.extend({
  name: "App",

  data() {
    return {
      currentUser: null
    };
  },

  mounted() {
    this.currentUser = auth.currentUser;

    auth.onAuthStateChanged(user => {
      this.currentUser = user;

      if (user && this.$route.name === "Accueil") {
        this.$router.replace("/projets");
      } else if (!user && this.$route.name === "Projects") {
        this.$router.replace("/");
      }
    });
  },

  methods: {
    deconnexion() {
      console.log("déconnexion...");
      auth.signOut();
    }
  }
});
</script>

<style lang="scss">
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;

  img {
    width: 64px;
    height: 64px;
  }

  h1 {
    font-size: 3em;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      // color: #2c3e50;

      &.router-link-exact-active {
        @apply text-primary;
        // color: #42b983;
      }
    }
  }
}
</style>
