@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
    @apply font-bold;
    @apply my-5;
}
h1 {
    @apply text-3xl;
}
h2, h3 {
    @apply text-2xl;
}

a {
    @apply text-link;
    @apply font-bold;
    @apply no-underline;
    @apply cursor-pointer;
}
a:hover {
    @apply text-linkDark;
}